
.page {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  padding: 20px;
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  margin-left: 20px;
}

.profileInfo h2 {
  margin: 0;
  font-size: 24px;
}

.profileInfo p {
  margin: 0;
  color: #888;
}

.nameInput {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.changeNameButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.changeNameButton:hover {
  background-color: #005bb5;
}

.uploadContainer {
  margin-bottom: 20px;
}

.uploadInput {
  display: block;
  margin-bottom: 10px;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.postDescription {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.uploadButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: #005bb5;
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.postCard {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.postImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.likes {
  padding: 10px;
  font-weight: bold;
  color: #ed4956;
}

/* В styles/Home.module.css */

.avatarContainer {
  position: relative; /* Это необходимо для того, чтобы разместить иконку поверх аватара */
}

.avatar {
  border-radius: 50%; /* Чтобы аватар был круглый */
}

.cameraIconWrapper {
  position: absolute;
  top: 5px;  /* Настройте положение иконки относительно верхней границы аватара */
  right: 5px; /* Настройте положение иконки относительно правой границы аватара */
  cursor: pointer;
}
